<div class="row">
     <h1 style="color:white" id="neon">Proyectos realizados</h1>
     <div class="contenedor">
          <div class="col-sm-12 col-md-7
         col-lg-7 parte1">
               <h1 style="color:white" id="neon">Encriptador</h1>
               <p style="color:white">
                    Encriptador sin interfaz del tipo cmd, con caracteristicas de algorithmo SHA-552,
                    desarrollado con javascript sin modelo grafico actual</p>
          </div>
          <div class="col-sm-12 col-md-3
         col-lg-3 offset-md-1
         offset-lg-1 parte2">
               <img src="../../../assets/img/200.gif" class="img-fluid 
              img-proyecto" id="gif">
          </div>
     </div>
     <h1 style="color:white" id="neon">Portafolio Argentina Programa</h1>
     <p style="color:white">Pagina web desarrollada con IDE Netbeans, Visual Studio y MySql con programas de terceros
          para su funcionamiento
          desarrolado con java, springboot, maven, javascript, alta en heroku (backend) y firebase el frontend.
          En continuo desarollo.</p>

</div>