<div class="row">
    <h1 style="color:white" id="neon">Hard and soft Skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
         [percent]="90"
         [radius]="100"
         [imageSrc]="'../assets/img/html.png'"
         [showImage]="true"
         [imageHeight]="70"
         [imageWidth]="70"
         [showUnits]="false"
         [showSubtitle]="false"
         [outerStrokeWidth]="16"
         [innerStrokeWidth]="2"
         [outerStrokeColor]="'rgb(0, 153, 255)'"
         [innerStrokeColor]="'#C7E596'"
         [animation]="true"
         [animationDuration]="600"
    ></circle-progress>
    
   </div>
   <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="75"
     [radius]="100"
     [imageSrc]="'../assets/img/CSS.png'"
     [showImage]="true"
     [imageHeight]="70"
     [imageWidth]="70"
     [showUnits]="false"
     [showSubtitle]="false"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="2"
     [outerStrokeColor]="'rgb(0, 153, 255)'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="600"
></circle-progress>

</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="80"
     [radius]="100"
     [imageSrc]="'../assets/img/js.png'"
     [showImage]="true"
     [imageHeight]="70"
     [imageWidth]="70"
     [showUnits]="false"
     [showSubtitle]="false"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="2"
     [outerStrokeColor]="'rgb(0, 153, 255)'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="600"
></circle-progress>

</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="60"
     [radius]="100"
     [imageSrc]="'../assets/img/git2.png'"
     [showImage]="true"
     [imageHeight]="70"
     [imageWidth]="70"
     [showUnits]="false"
     [showSubtitle]="false"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="2"
     [outerStrokeColor]="'rgb(0, 153, 255)'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="600"
></circle-progress>

</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="70"
     [radius]="100"
     [imageSrc]="'../assets/img/eng.png'"
     [showImage]="true"
     [imageHeight]="70"
     [imageWidth]="70"
     [showUnits]="false"
     [showSubtitle]="false"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="2"
     [outerStrokeColor]="'rgb(0, 153, 255)'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="600"
></circle-progress>

</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
     [percent]="45"
     [radius]="100"
     [imageSrc]="'../assets/img/java.png'"
     [showImage]="true"
     [imageHeight]="70"
     [imageWidth]="70"
     [showUnits]="false"
     [showSubtitle]="false"
     [outerStrokeWidth]="16"
     [innerStrokeWidth]="2"
     [outerStrokeColor]="'rgb(0, 153, 255)'"
     [innerStrokeColor]="'#C7E596'"
     [animation]="true"
     [animationDuration]="600"
></circle-progress>

</div>


</div>
                                   
