<div class="row">
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <img src="../../../assets/img/fotoperfil2.jpg" class="img-fluid" id="fotodeperfil">
     </div>
     <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
          <p style="color:white"> Ramon Gaston Diaz</p>
          <p style="color:white">Full Stack Developer Jr</p>
     </div>
     <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
          <span>
               <h1 style="color:white">Acerca de mí</h1>
               <p style="color:white"> Estudiante, autodidacta y de pensamiento tecnócrata, enfatizo en la logica y
                    resolucion de problemas,
                    bajo la disciplina de objetivos de calculos y conceptos en la medida que un sistema requiera. Vivo
                    en Buenos Aires, con muchas ganas de ampliar,
                    conocimientos tecnicos y/o sistemicos.
               </p>
          </span>
     </div>
</div>