<div class="row">
  <div class="container">
      <div class="logo">
        <a href="https://argentinaprograma.inti.gob.ar/"><img src="../../../assets/img/APLogo.png" id="logoAP"></a>
            
       </div>
      
       <div class="redes">
        <div>
            <a href="https://www.linkedin.com/in/gaston-diaz-b851581ba/"><img src="../../../assets/img/linkedin.png" id="linkedin"></a>           
            <a href="https://www.instagram.com/lifeless_nocturnal/"><img src="../../../assets/img/instagram.png"id="instagram"></a>
            <a href="https://github.com/Diazarys"><img src="../../../assets/img/github.png" id="githud"> </a>            
          <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
          <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>
        </div>            




       </div> 
    </div>
</div>


